//
// select
//

.m-select {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
  &__selector {
    position: relative;
    &:hover {
      cursor: pointer;
    }
    &__icon {
      display: flex;
      align-items: center;
      height: 24px;
    }
  }
}
